---
import { supabase } from "../lib/supabase";

// fetche menu items

  const { data, error } = await supabase.from('Order').select()


console.log(data);
console.log(error);
---

<div class="max-w-3xl mx-auto ">
    <div class="my-4 mx-4">
      <p>orders being queued for delivery</p>
    </div>
    <h1 class="text-3xl mb-2 font-serif mx-4">Todays Queue</h1>
    <div class="">
        <div class="flex  rounded-md shadow-sm p-4">
            {data.map((item)=>{
                <div>{item.user_id}</div>
            })
            }  
        </div>
    </div>
  </div>