---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SignIn">

    <div class="flex items-center justify-center h-screen bg-background">
        <div class="w-full max-w-md p-6 bg-card rounded-lg shadow-xl">
            <h1 class="text-3xl font-bold mb-6 text-center">SigIn</h1>
            <form action="/api/auth/signin" method="post" id="SigninForm" class="space-y-4">
                <div>
                    <label class="" for="email">
                        Email
                    </label>
                    <input
                        class="input" type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                    />
                </div>
                <div>
                    <label for="password">
                        Password
                    </label>
                    <input
                        class="input"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter your password"
                    />
                </div>
                <div id="errorMessage" class="text-red-500 p-2 bg-red-300 rounded-md hidden"></div>
                <button
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-red-400 text-white hover:bg-primary/90 h-10 px-4 py-2 w-full"
                    type="submit"
                >
                    Signin
                </button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('SigninForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission

            // const form = ;
            const formData = new FormData(event.target);
            const errorMessage = document.getElementById('errorMessage');

            try {
                const response = await fetch('/api/auth/signin', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    const errorText = await response.text();
                    errorMessage.textContent = errorText;
                    errorMessage.classList.remove('hidden')
                } else {
                    window.location.href = '/';
                    errorMessage.classList.add('hidden')
                }
            } catch (error) {
                errorMessage.classList.remove('hidden')
                errorMessage.textContent = 'An unexpected error occurred.';
            }
        });
    </script>
</Layout>
